bitstruct==8.22.1 ; python_version >= "3.11"
click==8.3.3 ; python_version >= "3.11"
colorama==0.4.6 ; python_version >= "3.11" and platform_system == "Windows"
et-xmlfile==2.0.0 ; python_version >= "3.11"
fit-tool==0.9.15 ; python_version >= "3.11"
openpyxl==3.1.5 ; python_version >= "3.11"
